.infoCard {
  min-width: 300px;
  padding: 15px 20px;
  background-color: #fff;
  color: #242424;
  border-radius: 8px;
  margin-top: 25px;
}
.infoCard.newInfo{
  outline: none;
  transition: all 0.5s;

  animation: glowing 2000ms 3;
}

@keyframes glowing {
  0% {
    border-color: none;
    box-shadow: none;
  }
  50% {
    border-color: #398cd1;
    box-shadow: 0 0 15px #3ae3ea;
  }
  100% {
    border-color: none;
    box-shadow: none;
  }
}
.avatar {
  width: 200px;
  height: 150px;
  display: block;
  margin: 0 auto 20px auto;
}
