.pageContainer{
display: flex;
justify-content: space-between;
width: 100%;
gap: 10px;
flex-wrap: wrap;
}

@media screen and (max-width: 720px) {
  .pageContainer {
    justify-content: center;  
  }
}