.formContainer{
  display: flex;
  flex-direction: column;
}

.errorPassword{
  display: block;
  width: auto;
}
.errorMsg{
  color: rgb(223, 81, 81);
  font-size: 13px;
  margin: 5px;
  height: 15px;
}

.medium{
  color: rgb(234, 180, 64);
}
.hard{
  color: rgb(68, 197, 120);
}

.hint{
  display: inline-block;
  width: 25px;
  height: 25px;
  text-align: center;
  background-color: #8a8a8a77;
  border-radius: 15px;
  margin-left: 10px;
  cursor: help;
}